# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.whl

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytorch
*.pth

*.idea
*.log

# Docker
*.run
3.*/

# binary
*.tar
*.zip
*.tgz
*.gz
*.meta
*.ipynb
*.gif

.markdownlint.json

.vscode/
