jsonlines
scikit-learn
inflect
librosa
jieba
pypinyin
typeguard==2.13.3
praatio==5.1.1
yacs
visualdl
timer
pyworld
ToJyutping
g2p_en
pypinyin_dict
opencc==1.1.0
paddlenlp==2.4.0
prettytable
protobuf==3.20.0
urllib3==1.26.16
g2pM
pathlib