__pycache__

# Distribution / packaging
build/
build_pip/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

# DeepSpeed config file
ds_config.json

.coverage_*
*~
slurm*
logs

# Data folder
dataset/BookCorpusDataset/
dataset/gpt_small_117M/
dataset/dahoas/
dataset/dahoas_*

tests/test_logs/
tests/exit_*

checkpoints/output*/
checkpoints/rlhf*/
checkpoints/TinyLlama*/
